/*

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value)

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

body {
   font-family: "Nunito";
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 9px;
    background-color:rgb(37, 37, 37);
    color: white;
    z-index: 100;
}

.logo {
    color: rgb(42, 171, 226);
}

.links {
    display: flex;
    list-style: none;
    padding-right: 10px;
}

.links li {
    margin-left: 60px;
}

.links li:first-child {
    margin-left: 0;
}

.links a {
    text-decoration: none;
    color: white;

}

article {
    padding-top: 95px;
    padding-left: 95px;
}

.paragraph {
    width: 30em;
}

.imagegallery {
    padding-left: 95px;
}

#viewlink {
    padding-left: 390px;
    text-decoration: none;
    color:rgb(42, 171, 226);
}

.images {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: 30em;
}

.sidebar {
    float: right;
    padding-top: 6em;
    padding-right: 6em;
}

#card1 {
    box-shadow: 0px 0px 11px 8px rgb(0 0 0 / 0.2);
    margin: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#card2 {
    box-shadow: 0px 0px 11px 8px rgb(0 0 0 / 0.2);
    margin: 20px;
    padding: 30px;

}

footer {
    width: 100%;
    background: rgb(42, 171, 226);
    padding: 15px;
}

#questionmark {
    position: fixed;
    bottom: 9px;
    right: 6px;
    background:  rgb(42, 171, 226);
    height: 44px;
    width: 44px;
    border: solid black 2px;
    border-radius: 100%;
    z-index: 1000;
    padding: 6px;
    font-size: 36px;
    text-align: center;
}